circle.Condition {
	fill: #F1948A;
	stroke: #EC7063;
}

circle.Condition:hover {
	fill: #FADBD8;
	stroke: #F1948A;
}

circle.Job {
	fill: #82E0AA;
	stroke: #58D68D;
}

circle.Job:hover {
	fill: #ABEBC6;
	stroke: #82E0AA;
}

circle.Folder {
	fill: #85C1E9;
	stroke: #5DADE2;
}

circle.Folder:hover {
	fill: #AED6F1;
	stroke: #85C1E9;
}

path.OUT_SUB {
	fill: #C0392B;
	stroke: #C0392B;
	stroke-width: 1.5px;
	stroke-dasharray: 5,5;
}

path {
	fill: #1B2631;
	stroke: #1B2631;
}

text {
	text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}