body {
	padding-top: 15px;
}

#btnSend {
	margin-left: 10px;
}

svg {
	border: 1px dashed #CCCCCC;
}

circle {
	cursor: pointer;
	stroke-width: 1.5px;
}

text {
	font: 10px sans-serif;
	pointer-events: none;
  	text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}

path {
	stroke: #787676;
	stroke-width: 1.5px;
}